/* @define Progress; */

/*
 *  Esempio di una 
 */

 :root {
    --Progress-height: 3em; /* 1 */
    --Progress-background-img: url('"//placehold.it/2000x500?text=placeholder');
    --Progress-background-color: #eee;
    --Progress-color: red;
  }
  
  .Progress {
    /* background: var(--Progress-background-img); */
    background-color: var(--Progress-background-color);
    color: var(--Progress-color);
    height: var(--Progress-height);

    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  
    @extend .u-sizeFull;

  } 

  .Progress[value]::-webkit-progress-value {
    background-image:
       -webkit-linear-gradient(-45deg, 
                               transparent 33%, rgba(0, 0, 0, .1) 33%, 
                               rgba(0,0, 0, .1) 66%, transparent 66%),
       -webkit-linear-gradient(top, 
                               rgba(255, 255, 255, .25), 
                               rgba(0, 0, 0, .25)),
       -webkit-linear-gradient(left, #09c, #f44);
  
      border-radius: 2px; 
      background-size: 35px 20px, 100% 100%, 100% 100%;
  }
