<div class="u-margin-all-m">
    <h2>Esempio di progress con aggiornamento JQuery</h2>
</div>
<div class="u-margin-all-m">
    <progress id="progressbar" class="Progress" value='0' max='100'></progress>
    <button id="btnMuoviProgressBar" class="Button Button--default u-text-r-xs">Muovi progress bar</button>
    <span id="cntValue">value</span>
</div>
