<div class="u-margin-all-m">
    <h2>Aggiornamento automatico</h2>
</div>
<div class="u-margin-all-m">
    <progress id='progressbar' class="Progress" max='100'><span>0</span>%</progress>
</div>

<div class="u-margin-all-m">
    <h2>Aggiornamento manuale</h2>
</div>
<div class="u-margin-all-m">
    <progress id='progressbar2' class="Progress" value='0' max='100'><span>0</span>%</progress>
    <button id="btnMuoviProgressBar"  class="Button Button--default u-text-r-xs">Muovi progress bar</button>
</div>
